* {
	margin: 0;
	padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    height: 12vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    font-size: 50px;
    color: white;
    display: flex;
}

.est {
    color: white;
}

#nav-icon {
    width: 60px;
    height: 45px;
    position: absolute;
    right: 50px;
    margin: 50px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    background: white;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2) {
    top: 18px;
}

#nav-icon span:nth-child(3) {
    top: 18px;
}

#nav-icon span:nth-child(4) {
    top: 36px;
}

#nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.nav-menu {
    z-index: 1;
    position: absolute;
    right: 0;
    background-color: black;
    display: none;
    width: 20%;
    height: 20vh;
    margin-left: 0;
    font-size: 2em;
}

.nav-menu ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

.nav-menu a:hover {
    text-decoration: underline;
}

/* Styling for index.html */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-1 {
    text-align: center;
    font-size: 5em;
    margin-top: 3%;
    font-weight: bold;
    width: 50%;
}

.intro-2 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 2%;
    width: 50%;
}

.intro-button {
    background-color: white;
    color: black;
    padding: 15px 32px;
    margin-top: 1.5%;
    cursor: pointer;
    border-radius: 25px;
    font-size: 2em;
    border: 2px solid black;
    text-decoration: none;
    transition: .2s ease-in-out;
}

.intro-button:hover {
    background-color: black;
    color: white;
}

.intro-3 {
    margin-top: 1%;
    font-weight: bold;
}

.slides {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#slideshow {
    width: 65%;
    height: 90%;
    overflow: hidden;
}

#controls {
    margin-top: 15px;
}

#controls button {
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
    background-color: white;
}

#controls button:hover {
    background-color: black;
    color: white;
}

#slideshow img {
    background-color: white;
    width: 100%;
}

.sec-1 {
    height: fit-content;
    margin-bottom: 5%;
    text-align: center;
}

.text {
    font-size: 5em;
    margin-top: 5%;
}

.filler {
    font-size: 1em;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.about {
    margin-top: 5%;
    text-align: center;
    font-size: 3em;
}

.footer {
    height: 20vh;
    background-color: black;
    color: white;
    text-align: right;
    vertical-align: center;
    line-height: 20vh;
    padding-right: 50px;
}

/* Styling for contact.html */
/* Style inputs with type="text", select elements and textareas */
input, select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 5px;
    padding: 20px;
}